rails <div class="container">
  <div class="row">
    <div class="col-6 mt-3">

      <h4 class="mb-4">会員情報編集</h4>

      <%= form_with model: @end_user, url: end_users_update_path, method: :PATCH do |f| %>

        <table class="table table-borderless">
          <tr>
            <td><%= f.label "氏名" %></td>
            <td><%= f.text_field :last_name, class: "form-control" %></td>
            <td><%= f.text_field :first_name, class: "form-control" %></td>
          </tr>

          <tr>
            <td><%= f.label "フリガナ" %></td>
            <td><%= f.text_field :last_name_kana, class: "form-control" %></td>
            <td><%= f.text_field :first_name_kana, class: "form-control" %></td>
          </tr>

          <tr>
            <td><%= f.label "郵便番号" %></td>
            <td><%= f.text_field :postcode, class: "form-control" %></td>
            <td></td>
          </tr>

          <tr>
            <td><%= f.label "住所" %></td>
            <td colspan="2"><%= f.text_field :address, class: "form-control" %></td>
          </tr>

          <tr>
            <td><%= f.label "電話番号" %></td>
            <td><%= f.text_field :tel, class: "form-control" %></td>
            <td></td>
          </tr>

          <tr>
            <td><%= f.label "メールアドレス" %></td>
            <td><%= f.text_field :email, class: "form-control" %></td>
            <td></td>
          </tr>

          <tr>
            <td></td>
            <td><%= f.submit '編集内容を保存',class: "btn btn-success rounded-pill mt-3" %></td>
            <td><%= link_to "退会する", end_users_unsubscribe_path, class: "btn btn-danger rounded-pill mt-3" %></td>
          </tr>
        </table>

      <% end %>

    </div>
  </div>
</div>