<div class="container">
  <div class="row">
    <h3 class="my-5">ジャンル一覧・追加</h3>
      <div class="mb-5">
        <%= form_with url: admin_categorys_path, model: @categorys, local: true do |f| %>
          <%= f.label :ジャンル名 %>
          <%= f.text_field :name, placeholder: "ジャンル名", class: "offset-1" %>
          <%= f.submit "新規登録", class: "btn btn-success offset-1" %>
        <% end %>
      </div>
    <div class="col-5">
      <table class="table">
        <thead>
          <tr class="table-active">
            <th>ジャンル名</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @categorys.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td><%= link_to "編集する", edit_admin_category_path(category.id), class: "btn btn-success d-block justify-content-end" %></td>
          <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>