<h2>新規会員登録</h2>

<%= form_with model: @end_user, url: end_user_registration_path, id: 'new_end_user', class: 'new_end_user', local: true do |f| %>
  <%= render "public/shared/error_messages", resource: EndUser.new %>

  <div class="field">
    <%= f.label "姓" %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
  </div>

  <div class="field">
    <%= f.label "名" %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
  </div>

  <div class="field">
    <%= f.label "セイ" %><br />
    <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %>
  </div>

  <div class="field">
    <%= f.label "メイ" %><br />
    <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %>
  </div>

  <div class="field">
    <%= f.label "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label "郵便番号" %><br />
    <%= f.text_field :postcode, autofocus: true, autocomplete: "postcode" %>
  </div>

  <div class="field">
    <%= f.label "住所" %><br />
    <%= f.text_field :address, autofocus: true, autocomplete: "address" %>
  </div>

  <div class="field">
    <%= f.label "電話番号" %><br />
    <%= f.text_field :tel, autofocus: true, autocomplete: "tel" %>
  </div>

  <div class="field">
    <%= f.label "パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label "パスワード(確認用)" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録", class: 'btn btn-success' %>
  </div>
<% end %>

<h2>既に登録済みの方</h2>
<%= link_to "こちら", new_session_path(resource_name) %>からログインしてください