
<h2>注文情報確認</h2>
  <%= @cart_items.name %>
  <%= @cart_items.price %>
  <%= @cart_items.quantity %>
  <%= @cart_items.amount %>

  <p>送料</p>
  <%= arr = [800] %>円
  <p>商品合計</p>
  <%= item.amount %>
  <p>請求金額</p>
  <%= sum += @cart_items.amount %>


<%= form_with model:[@cart_items, @order], do |f| %>
  <%= f.hidden_field :amount %>

  <%= f.hidden_field :quantity %>
  <%= f.submit "注文を確定する", class: 'btn btn-success' %>
<% end %>