<h2>注文履歴詳細</h2>

<p>注文情報</p>
  <%= @order.create_at %>
  <%= @order.addresses %>
  <%= @item.name %>
  <%= @item.price %>
  
<p>請求情報</p>
  <%= @item.amount %>
  <!--送料<%= %>-->
  <!--請求額<% %>-->

<p>注文内容</p>
  <%= @item.name %>
  <%= @item.price %>
  <%= @item.quantity %>
  <%= @item.amount %>